/launcher/target/ linguist-vendored
Cargo.lock linguist-vendored

*.md linguist-documentation
*.html linguist-documentation
*.css linguist-documentation
*.js linguist-documentation
*.php linguist-documentation