.tag-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.tag-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tag-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #4a4a4a;
}

.tag-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    padding: 0 8px;
    border-radius: 15px;
    background-color: var(--bs-success);
    color: white;
    font-weight: 600;
    margin-left: 15px;
}

.tag-actions {
    margin-right: 15px;
}

.action-btn {
    cursor: pointer;
    transition: color 0.2s;
    font-size: 1.25rem;
}

.search-input-container {
    padding: 0 1rem;
    margin-bottom: 40px;
    margin-top: 50px;
    max-width: 800px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#tagSearchInput {
    text-align: center;
}

.tags-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    padding: 10px 0;
}